input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-info {
  padding: 5px 10px;

  .info-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}